<h1>{{ formTitle }}</h1>

<form #formToEditChampionship="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="input-field col s12">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" [(ngModel)]="championship.name" required>
        </div>
        <div class="input-field col s12">
            <label for="season">Season</label>
            <input id="season" name="season" type="text" [(ngModel)]="championship.season" required>
        </div>
        <div class="input-field col s12">
            <button
                class="btn waves-effect waves-light right submit"
                type="submit"
                name="action"
                [disabled]="!formToEditChampionship.form.valid">
            Done
                <i class="material-icons right">done</i>
            </button>
        </div>
    </div>
</form>
