<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">LOGO</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a [routerLink]="['dashboard']" [routerLinkActive]="['is-active']">Home</a> | </li>
                <li><a [routerLink]="['championships']" [routerLinkActive]="['is-active']">Championships</a> | </li>
                <li><a [routerLink]="['championships/add']" [routerLinkActive]="['is-active']">Add Championship</a> | </li>
                <li><a [routerLink]="['about']" [routerLinkActive]="['is-active']">About</a></li>
            </ul>
        </div>
    </nav>
    <router-outlet name="submenu"></router-outlet>
</header>
