<h1>My Championships</h1>

<my-add-championship></my-add-championship>

<div class="row">
    <div class="col s12 m3 l3" *ngFor="let championship of championshipService.getAll()">
        <div class="card center-align white-text ">
            <a [routerLink]="[championship.id + '/details']" title="Go to this championship">
                <span class="card-title">{{ championship.name }} ({{ championship.season }})</span>
            </a>
            <div class="card-image">
                <img src="{{ championship.pictureUrl }}">
            </div>
            <div class="card-action center-align">
                <a class="waves-effect waves-light btn-flat" title="Show standings for this championship">
                    <i class="material-icons left">alarm_on</i>
                    Standings
                </a>
                <a class="waves-effect waves-light btn-flat"
                   title="Configure this championship"
                   [routerLink]="[championship.id + '/configure']">
                    <i class="material-icons left">settings</i>
                    Configure
                </a>
            </div>
        </div>
    </div>
</div>
