<h1 class="center">My Championships</h1>

<my-add-championship></my-add-championship>

<div class="row">
    <div class="col s12 m3 l3 card small" *ngFor="let championship of championshipService.getAll()">
        <div class="card-content center-align white-text ">
            <a href="#" title="Go to this championship">
                <span class="card-title">{{ championship.name }}</span>
            </a>
            <h6>{{ championship.season }}</h6>
            <p class="left-align">Si ajout d'un descriptif championnat, l'inserer ici...</p>
        </div>
        <div class="card-action center-align">
            <a href="#">Show Standings</a>
            <a href="#">Configure</a>
        </div>
    </div>
</div>
